[Unit]
Description=Run reset every 2 minutes
Requires=reset.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=2min
AccuracySec=1sec
Persistent=true

[Install]
WantedBy=timers.target


[Unit]
Description=Run reset every month on specific day and time
Requires=reset.service

[Timer]
# Запуск 8-го числа каждого месяца в 03:00
OnCalendar=*-*-8 03:00:00

AccuracySec=1sec

Persistent=true

[Install]
WantedBy=timers.target